body{
    background-color: #E7F6F2;
    text-align: center;
}
img.profile{
    border-radius: 100%;
    height: 2rem;
}
div.inst{
    color: #395B64;
    margin-left: 2%;
}
a.navbar-link{
    text-align: right;
}
nav{
    background-color: #A5C9CA;
}
a.nav-link{
    color: #395B64;
}
div.right{
    text-align: right;
}
#navbarSupportedContent{
    padding-right: 2%;
}
h1{
    padding: 3%;
    text-align: center;
    color: #395B64;
}

div.item{
    color:#395B64;
    margin-top: 2%;
    font-size: 2rem;
    font-weight: bold;
}
button.tic{
    margin-top: 2%;
}